%h3 Coderwall Trophies

%p list of trophies...

%a{ href: "https://coderwall.com/#{data.me.coderwall}" }
  %img{ alt: "Endorse #{data.me.profile.name} on Coderwall", src: "http://api.coderwall.com/#{data.me.coderwall}/endorsecount.png" }
