@import 'variables';

body {
  @include establish-baseline;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 1em;
  color: #333;

  margin: 0;
}

h2 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 1em;
  color: #333;
  text-align: center;
  margin: 0;
}
