@import 'mixins/responsive';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3/box-shadow';

header {
  position: relative;
  padding: 0 1em;
  @include clearfix;

  .gravatar {
    padding: 0;
    background: white;
    width: 4.5em;
    height: 4.5em;
    margin-right: 0.5em;
    @include box-shadow(rgba(0,0,0,0.5) 0 8px 6px -5px);
  }
  > h1 {
    color: #222;
    line-height: 2em;
    .name {
      font-weight: bold;
      text-align: center;
      text-indent: 0;
      line-height: 1em;
      color: #222;
    }
  }
  > p.introduction {
    display: none;
  }

  @include smallest-width {
    min-height: 4em;
    .gravatar {
      float: left;
      width: 3em;
      height: 3em;
    }
  }
  @include mobile-width {
    box-shadow: rgba(0,0,0,0.3) 0 -2em 2em -2em inset;
    height: 10em;
    .gravatar {
      padding: 0.2em;
      background: white;
      border: 1px solid #222;
      position: absolute;
      top: 5em;
    }
    h1 {
      color: rgba(34,34,34,0);
      line-height: 1em;
      font-size: 2em;
      .name {
        text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
        display: block;
      }
    }
  }
}
