@import 'mixins/responsive';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3/box-shadow';
@import 'variables';

header {
  position: relative;
  padding: 0 1em;
  @include clearfix;

  .gravatar {
    padding: 0;
    background: white;
    // How to do using vertical rhythm?
    width: rhythm(3);
    height: rhythm(3);
    margin-right: 0.5em;
    @include box-shadow(rgba(0,0,0,0.5) 0 8px 6px -5px);
  }
  > h1 {
    color: #222;
    @include adjust-font-size-to(ms(0));

    .name {
      font-weight: bold;
      text-align: center;
      text-indent: 0;
      color: #222;
    }
  }
  > p.introduction {
    display: none;
  }

  @include smallest-width {
    // How to calculate using vertical-rhythm?
    min-height: rhythm(2);
    .gravatar {
      float: left;
      width: rhythm(2);
      height: rhythm(2);
    }
  }
  @include mobile-width {
    box-shadow: rgba(0,0,0,0.4) 0 -2em 2em -2em inset;
    height: rhythm(7);
    .gravatar {
      padding: rhythm(0.125);
      background: white;
      border: rhythm(0.075) solid #222;
      position: absolute;
      top: rhythm(3 - 0.125 - 0.075);
    }
    > h1 {
      color: rgba(34,34,34,0);
      .name {
        @include adjust-font-size-to(ms(2));
        text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
        display: block;
      }
    }
  }
}
