@import 'mixins/link_item';

section.profiles, section.contact {
  > h1 {
    text-align: center;
    @include adjust-font-size-to(ms(0));
    @include leader;
  }

  menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      @include mobile-link-item;
    }
  }
}
