@import 'compass/css3/box-shadow';
@import 'compass/utilities/general/clearfix';
@import 'mixins/responsive';

// Table of Contents

.toc {
  @include smallest-width {
    display: none;
  }

  menu {
    list-style: none;
    margin: 0;
    padding: 0;
    border: {
      top: 1px solid #000;
      left: 1px solid #000;
    }
    @include clearfix;
  }

  li {
    text-align: center;

    &.large, &.medium {
      line-height: 4em;
      a {
        padding-bottom: 1px;
      }
    }
    &.medium, &.small {
      width: 50%;
    }
    &.small {
      line-height: 2em;
    }

    &.medium, &.small {
      float: left;
      &.reverse {
        float: right;
      }
    }
    a {
      border: {
        bottom: 1px solid #000;
        right: 1px solid #000;
      }
      display: block;
      text-decoration: none;
      color: #333;
    }
  }
}



