@import 'mixins/responsive';

section.user-role, section.profiles, section.contact {
  -webkit-transition: max-height 500ms;
  @include smallest-width {
    max-height: 10em;
  }
  @include mobile-width {
    max-height: 0;
    overflow: hidden;
  }
}
