@import 'mixins/responsive';

section.user-role {
  > h1 {
    text-align: center;
    margin: 0;
    @include adjust-font-size-to(ms(0));
    @include leader;
  }
  > p.introduction {
    display: none;
  }
}
